
.box
  .article-list
    記事一覧
  .article-list2
    - @blogs.each do |blog|
      .article
        .title
          = link_to blog.title, blog_path(blog.id), class: 'blogs-title'
        .username
          = link_to blog.user.nickname, user_path(blog.user), class: 'blogs-user'
        .time
          =blog.created_at
  .tags-list
    タグ一覧
  .tag
    - @tags.each do |tag|
      .tag-details
        = link_to tag.tag_name, tag_path(tag.id), class: 'tag-details-blogs'