.box
  .article-list
    記事一覧
  .article-list2
    - @blogs.each do |blog|
      .article
        .blogimage
          = image_tag blog.images[0].image_url,class:"blogimage-img"
        .details
          .title
            = link_to blog.title, blog_path(blog.id), class: 'blogs-title'
          .nametime
            .username
              = link_to blog.user.nickname, user_path(blog.user), class: 'blogs-user'
            .time
              =blog.created_at
