.box {
  margin: 0px;
	padding: 0 3%;;
	-webkit-text-size-adjust: none;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
  background: #fff;	/*背景色*/

  .article-list {
    clear: both;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px 20px;
    background: #80ad45;
    border-radius: 10px;
  }

  .article-list2{
    padding: 10px;
  }

  .article{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .tags-list {
    clear: both;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px 20px;
    background: #80ad45;
    border-radius: 10px;
  }

  .tag{
    display: flex;
    margin:30px;
    &-details{
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
      margin: 0px;
      padding: 0px;
      &-blogs{
        font-size: 13px!important;
        line-height: 1em;
        color: #1a1a1a;
        display: inline-block;
        border: 1px #757575 solid;
        white-space: nowrap;
        padding: 10px;
        margin: 3px 3px 5px;
        border-radius: 4px;
        text-decoration: none;
        box-sizing: border-box;
      }
    }
  }
}


.box1 {
  margin: 0px;
	padding: 0 3%;;
	-webkit-text-size-adjust: none;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
  background: #fff;	/*背景色*/
  .article1{
    border-bottom-width: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    .title1{
      font-size: 20px;
    }
    .blogDate{
      font-size: 15px;
      color: gray;
    }
  }
}