
body {
  background-image: image-url("wood.jpg");
  a{
    text-decoration: none;
  }
}

.blogtop {
  margin: 0px;
	padding: 0 3%;;
	-webkit-text-size-adjust: none;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
  line-height: 2;		/*行間*/
  width:  100%;
  &-article{
    padding: 10px; 
    width: 100%;
    &-list{
      border-bottom-width: 1px;
      border-bottom-style: solid;
      display: flex;
      height: 33%;
      width: 100%;
      margin-top: 5%;
      &-image{
        height:100%;
        width: 50%;
        margin: 0 auto;
        .blogimage-img{
          height:200px;
          width: 286px;
        }
        .blogimage-img:hover{
          opacity: 0.5;
          transition: all 0.6s ease;
        }
      }
    
      &-details{
        width: 50%;
        margin: 0 auto;
        &-title{
          font-size: 20px;
          .blogs-title{
            color: black;
          }
          .blogs-title:hover{
            opacity: 0.5;
          }
        }
        &-nametime{
          font-size: 15px;
          color: #999;
          display: flex;
          &-username{
            margin-right: 10px;
            .blogs-user{
            color: #999;
            }
          }
          &-time{
            color: #999;
          }
        }
      }
    }
    .pager{
      height: 5vh;
      .pagination{
        margin-top:2%;
        margin-bottom: 2%;
        .page.current{
          display: inline;
          padding:10px 15px;
          border:1px #ccc solid;color:#000053;
          border-radius: 5px / 5px;
        }
        .page{
          display: inline;
          padding:10px 15px;
          border:1px #ccc solid;color:#000053;
          border-radius: 5px / 5px;
        }
        .next{
          display: inline;
          padding:10px 15px;
          border:1px #ccc solid;color:#000053;
          border-radius: 5px / 5px;
        }
        .last{
          display: inline;
          padding:10px 15px;
          border:1px #ccc solid;color:#000053;
          border-radius: 5px / 5px;
        }
      }
    }
  }

  .tags-list {
    clear: both;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #fff;
    padding: 10px 20px;
    background: #002200;
    border-radius: 10px;
  }

  .tag{
    display: flex;
    flex-wrap: wrap;
    margin:30px;
    &-details{
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
      margin: 0px;
      padding: 0px;
      &-blogs{
        font-size: 13px!important;
        line-height: 1em;
        color: #1a1a1a;
        display: inline-block;
        border: 1px #757575 solid;
        white-space: nowrap;
        padding: 10px;
        margin: 3px 3px 5px;
        border-radius: 4px;
        text-decoration: none;
        box-sizing: border-box;
      }
    }
  }
  .slick-box{
    margin-top: 3%;
    margin-bottom: 2%;
    width: 100%;
    height: 200px;
    .slick{
      width: 700px;
      margin: auto;
      .blogimage-2{
        width: 286px;
        height: 200px;
        margin: 5px;
        .abc{
          width: 100%;
          height: 100%;
        }
        .abc:hover{
          opacity: 0.5;
          transition: all 0.6s ease;
        }
      }
    }
  }
}


