
.boxbox {
  margin: 0px;
	padding: 0 3%;;
	-webkit-text-size-adjust: none;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
  .mozi {
    clear: both;
    margin-bottom: 2%;
    color: #fff;
    padding: 1% 2%;
    background: #80ad45;
    border-radius: 10px;
  }
}
.search1{
  margin: 0px;
	padding: 0 3%;;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
  width: 100%;
  height: 50px;
  .form-a{
    width: 100%;
    height: 50px;
    display: flex;
    #search{
      width: 90%;
      height: 90%;
      border: ridge;
      border-color: #80ad45;
    }
    .search2{
      text-align: right;
      .search10{
      height: 40px;
      }
    }
  }
}

.box {
  margin: 0px;
	padding: 0 3%;;
	-webkit-text-size-adjust: none;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
  line-height: 2;		/*行間*/
  width:  100%;
  height: 100vh;

  .article-list {
    clear: both;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px 20px;
    background: #80ad45;
    border-radius: 10px;
    margin-top: 20px;
  }

  .article-list2{
    padding: 10px; 
    width: 100%;
    // height: 100vh;
    .article{
      border-bottom-width: 1px;
      border-bottom-style: solid;
      display: flex;
      height: 33%;
      width: 100%;
      .blogimage{
        height:100%;
        width: 50%;
        margin: 0 auto;
        &-img{
          height:150px;
          width: 200px;

        }
      }
    
      .details{
        width: 50%;
        margin: 0 auto;
        .title{
          font-size: 20px;
          .blogs-title{
            color: black;
          }
        }
        .nametime{
          font-size: 15px;
          color: #999;
          display: flex;
          .username{
            margin-right: 10px;
            .blogs-user{
            color: #999;
            }
          }
          .time{
            color: #999;
          }
        }
      }
    }
    .pager{
        height: 5vh;
      .pagination{
        margin-top:2%;
        margin-bottom: 2%;
        .page.current{
          display: inline;
          padding:10px 15px;
          border:1px #ccc solid;color:#000053;
          border-radius: 5px / 5px;
        }
        .page{
          display: inline;
          padding:10px 15px;
          border:1px #ccc solid;color:#000053;
          border-radius: 5px / 5px;
        }
        .next{
          display: inline;
          padding:10px 15px;
          border:1px #ccc solid;color:#000053;
          border-radius: 5px / 5px;
        }
        .last{
          display: inline;
          padding:10px 15px;
          border:1px #ccc solid;color:#000053;
          border-radius: 5px / 5px;
        }
      }
    }
  }

  .tags-list {
    clear: both;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #fff;
    padding: 10px 20px;
    background: #80ad45;
    border-radius: 10px;
  }

  .tag{
    display: flex;
    flex-wrap: wrap;
    margin:30px;
    &-details{
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
      margin: 0px;
      padding: 0px;
      &-blogs{
        font-size: 13px!important;
        line-height: 1em;
        color: #1a1a1a;
        display: inline-block;
        border: 1px #757575 solid;
        white-space: nowrap;
        padding: 10px;
        margin: 3px 3px 5px;
        border-radius: 4px;
        text-decoration: none;
        box-sizing: border-box;
      }
    }
  }
  .slick-box{
    width: 100%;
    height: 160px;
    .slick{
      height: 300px;
      width: 700px;
      margin: auto;
      .blogimage-2{
        width: 200px;
        height: 150px;
        margin: 2px;
        .abc{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

