.header{
    position: sticky;
    top: 0;
    z-index: 9998;
}

.dropdwn{
    max-width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 0 3%;
    background-color: #002200;
    height: 50px;
    text-align: center;
}

.header-1{
    display:flex;
}

.bigtitle{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    color: #fff;
    letter-spacing:5px;
}

.name{
    width:110px;
    margin: 15px 0 0 0;
    color:#fff;
    font-family: 'Noto Sans JP', sans-serif;
    white-space: nowrap
}
.name:hover{
    background-color: gainsboro;
    color: black;
}

.drop{
    max-width: calc(1200px/5);
    position: relative;
    padding: 5px;
    display: block;
    cursor: pointer;
    width: 120px;
}

.dropdwn>li{
    width: 100px;
    margin: 1px;
    display: inline;
}

i{
    font-size: 30px;
    margin: 15px 0 0 2%;
    color:#fff;
    padding-left: 20px;
    padding-right: 20px;
    width: 110px;
}
i:hover{
    background-color: gainsboro;
    color: black;
}

.dropdwn_menu{
    width: 110px;
    display: none;
    position: absolute;
    z-index: 9999; 
    padding: 0;
    background-color: #002200;
}

.dropdwn_menu li{
    width: 100%;
}

.dropdwn_menu li a{
    padding: 5px 0;
    display: block;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    
}



li a:hover{
    background-color: gainsboro;
    color: black;
}