.search1{
  color: #666;	
  margin-top: 15px;
  .form-a{
    height: 30px;
    display: flex;
    #search{
      width: 150px;
      height: 30px;
      border-radius: 20px;
    }
    .search2{
      text-align: right;
      .search10{
      height: 20px;
      font-size: 13px;
      }
    }
  }
}